.tile {
  border: 1px solid black;
  display: inline-block;
  margin: 2px;
  background-color: Gray;
  text-align: center;
  width: 10px;
  height: 10px;
  position: absolute;

}

body {
  overflow: scroll;
  margin: 0px;
  font-family: "Comic Sans MS";
  text-align: center;
}

embed {
  background-color: white;
}

#shuffle {

}

#board {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

#container {
  position: fixed;
}

input[type="radio"] {
  margin-top: 430px;

}

#menu {
  width: 100%;
  text-align: center;
}
